<mat-list *ngIf="participants$ | async as participants">
  <mat-list-item
    *ngFor="let participant of participants.entries(); trackBy: trackEntryByKey"
    class="agari-flex-row"
  >
    <strong class="agari-number">{{ participant[0] + 1 }}.&nbsp;</strong>
    <span class="agari-overflow agari-spacer">{{ participant[1]?.name }}</span>
    <button mat-icon-button *ngIf="!participant[1]" color="primary" (click)="setParticipant(participant[0])">
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="participant[1]"
      color="primary"
      (click)="setParticipant(participant[0], participant[1])"
    >
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button *ngIf="participant[1]" color="primary"><mat-icon>delete</mat-icon></button>
  </mat-list-item>
</mat-list>
