<mat-accordion>
  <agari-event-manager-step>
    <ng-template #header>Configuration</ng-template>
    <ng-template #content>
      <agari-event-configuration-step (next)="nextStep()"></agari-event-configuration-step>
    </ng-template>
  </agari-event-manager-step>
  <agari-event-manager-step [disabled]="(configFinalized$ | async) !== true">
    <ng-template #header>Registration</ng-template>
    <ng-template #content>
      <agari-event-registration-step
        (previous)="previousStep()"
        (next)="nextStep()"
      ></agari-event-registration-step>
    </ng-template>
  </agari-event-manager-step>
  <ng-container *ngIf="results$ | async as results">
    <ng-container *ngFor="let round of results; trackBy: trackStepByIndex; index as index">
      <agari-event-manager-step
        [disabled]="(registrationFinalized$ | async) !== true || results[index - 1]?.finalized === false"
      >
        <ng-template #header>Round {{ index | asOrdinal }}</ng-template>
        <ng-template #content>
          <agari-event-scoring-step [index]="index"></agari-event-scoring-step>
        </ng-template>
      </agari-event-manager-step>
    </ng-container>
  </ng-container>
</mat-accordion>
