html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: small;
}

footer .mat-toolbar {
  font-size: medium;
}

.mat-action-row {
  padding-top: 0 !important;
}

.mat-card-title {
  font-size: medium !important;
}

.mat-icon {
  width: 16px !important;
  height: 16px !important;
}

.mat-icon-button {
  width: 24px !important;
  height: 24px !important;

  & .mat-icon {
    width: 24px !important;
    height: 24px !important;
  }
}

.mat-list-item {
  font-size: small !important;
  height: 48px !important;
}

.material-icons {
  font-size: medium !important;
}
