:host {
    position: relative;
    width: 100%;
    height: 64px;
    background: whitesmoke;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    grid-template-areas: "header-brand . header-menu";
    grid-template-columns: auto 1fr auto;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 1rem 1rem 1rem gray;
        z-index: -1;
    }
}
