<agari-form-field>
  <agari-label>Number of rounds</agari-label>
  <input
    agariInput
    type="number"
    [formControl]="controls.roundCount"
    required
    (blur)="onTouched()"
    data-test-id="round-input"
  />
  <agari-validation-message *agariErrorPolicy="controls.roundCount">
    {{ errorMessage.display(controls.roundCount.errors!, roundCustomErrorMessages) }}
  </agari-validation-message>
</agari-form-field>

<agari-form-field class="agari-form-item">
  <agari-label>Number of participants</agari-label>
  <input
    agariInput
    type="number"
    [formControl]="controls.participantCount"
    required
    (blur)="onTouched()"
    data-test-id="participant-input"
  />
  <agari-validation-message *agariErrorPolicy="controls.participantCount">
    {{ errorMessage.display(controls.participantCount.errors!, participantCustomErrorMessages) }}
  </agari-validation-message>
</agari-form-field>
