<mat-form-field [formControl]="controls.roundCount" ngDefaultControl>
  <mat-label>Number of rounds</mat-label>
  <input
    matInput
    type="number"
    [formControl]="controls.roundCount"
    required
    (blur)="onTouched()"
    data-test-id="round-input"
  />
  <mat-error *ngIf="controls.roundCount.errors as errors">
    {{ roundCountErrorMessage(errors) }}
  </mat-error>
</mat-form-field>

<mat-form-field
  [formControl]="controls.participantCount"
  ngDefaultControl
  class="agari-form-item"
>
  <mat-label>Number of participants</mat-label>
  <input
    matInput
    type="number"
    [formControl]="controls.participantCount"
    required
    (blur)="onTouched()"
    data-test-id="participant-input"
  />
  <mat-error *ngIf="controls.participantCount.errors as errors">
    {{ participantCountErrorMessage(errors) }}
  </mat-error>
</mat-form-field>
