<form class="agari-form" [formGroup]="formGroup">
  <div>
    <mat-form-field>
      <mat-label>Number of rounds</mat-label>
      <input
        matInput
        type="number"
        [formControl]="controls.roundCount"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Number of participants</mat-label>
      <input
        matInput
        type="number"
        [formControl]="controls.participantCount"
      />
    </mat-form-field>
  </div>

  <div class="agari-spacer"></div>

  <button
    mat-flat-button
    color="accent"
    (click)="onSubmit()"
    [disabled]="formGroup.invalid || (status$ | async) === 'IN_PROGRESS'"
    class="agari-form-item"
    data-test-id="request-button"
  >
    Generate
  </button>
</form>
