.agari-form {
  display: grid;
  align-items: baseline;
  justify-items: center;
  grid-template-areas: "fields" "actions";
  margin: 5px;
}

.agari-form-item {
  grid-area: actions;
  margin: 5px;
  justify-self: stretch;
}

.agari-form-grid {
  grid-area: fields;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

@media (min-width: 600px) {
  .agari-form {
    grid-template-areas: "fields . actions";
    grid-template-columns: auto 1fr auto;
  }

  .agari-form-item {
    justify-self: center;
  }
}
