<form class="agari-form" [formGroup]="formGroup">
  <div class="agari-form-grid">
    <mat-form-field>
      <mat-label>Number of participants</mat-label>
      <input
        matInput
        type="number"
        [formControl]="controls.participantCount"
        data-test-id="participant-input"
      />
      <mat-error *ngIf="controls.participantCount.errors">{{ getParticipantCountErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="possibleRoundCounts$ | async as possibleRoundCounts">
      <mat-label>Number of rounds</mat-label>
      <mat-select [formControl]="controls.roundCount" data-test-id="round-select">
        <mat-option *ngFor="let count of possibleRoundCounts" [value]="count">{{ count }}</mat-option>
      </mat-select>
      <mat-error *ngIf="controls.roundCount.errors">Please select a value</mat-error>
    </mat-form-field>
  </div>

  <div class="agari-spacer"></div>

  <button
    mat-flat-button
    color="accent"
    (click)="onSubmit()"
    [disabled]="formGroup.invalid || (status$ | async) === 'IN_PROGRESS'"
    class="agari-form-item"
    data-test-id="request-button"
  >
    Generate
  </button>
</form>
