@use '/src/app/scss/abstracts/mixins';
@use '/src/app/scss/theme/color';
@use '/src/app/scss/theme/font';

:host {
  @include mixins.border-reset;
  @include mixins.border-rounded;
  position: relative;
  padding: 0.5rem 1rem;
  overflow: hidden;
  cursor: pointer;
  font-family: font.$font-family;

  &[data-color='primary'] {
    background: color.$primary;
    color: color.$primary-contrast;
  }

  &::before {
    @include mixins.border-rounded;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: color.$foreground;
  }

  &:hover::before {
    opacity: 0.2;
  }
}
