@use '/src/app/scss/theme/color';

:host {
    position: relative;
    padding: 0.5rem 1rem;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px 4px 1.5rem 4px;

    &[data-color="primary"] {
        background: color.$primary;
        color: color.$primary-contrast;
        border-color: color.$primary-contrast;
    }
}
