<h2 mat-dialog-title>Schedule</h2>
<mat-dialog-content>
  <div class="agari-grid" *ngIf="schedule$ | async as schedule">
    <div class="agari-grid-item" *ngFor="let round of schedule.rounds; index as index">
      <agari-schedule-round
        *ngIf="round"
        [scheduleRound]="round"
        [roundNumber]="index | asOrdinal"
        data-test-id="schedule-round"
      ></agari-schedule-round>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
