<ng-container *ngIf="(response$ | async)! as response">
  <ng-container *ngIf="(status$ | async)! as status">
    <div *ngIf="status === 'DONE' && response?.data" class="agari-wrapper">
      <div class="agari-toolbar-grid">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Additional information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngIf="response?.data?.randomnessSources as randomnessSources">
            <li *ngFor="let randomnessSource of randomnessSources">{{ randomnessSource }}</li>
          </ul>
        </mat-expansion-panel>
        <button mat-flat-button color="primary" [agariExcelExport]="(export$ | async)!">
          Export to .xlsx
        </button>
      </div>
      <div class="agari-grid">
        <div
          class="agari-grid-item"
          *ngFor="let round of response?.data?.rounds; index as index"
        >
          <agari-schedule-round
            *ngIf="round"
            [scheduleRound]="round"
            [roundNumber]="index | asOrdinal"
            data-test-id="schedule-round"
          ></agari-schedule-round>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
