.agari-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.agari-grid-item {
  flex: 1 0 270px;
  padding: 0;
  margin: 5px;
}

.agari-horizontal-filler {
  flex: 1 0 270px;
  margin: 0 5px;
  padding: 0;
  height: 0;
}
