<ng-container *ngIf="(result$ | async)! as result">
  <ng-container *ngIf="(status$ | async)! as status">
    <ng-container *ngIf="status === 'DONE' && result.data.generateSchedule">
      <mat-toolbar>
        <div class="agari-spacer"></div>
        <button mat-flat-button color="primary" [agariExcelExport]="(export$ | async)!">
          Export to .xlsx
        </button>
      </mat-toolbar>
      <div class="agari-grid">
        <div
          class="agari-grid-item"
          *ngFor="let round of result.data?.generateSchedule?.rounds; index as index"
        >
          <agari-schedule-round
            *ngIf="round"
            [scheduleRound]="round"
            [roundNumber]="index | asOrdinal"
            data-test-id="schedule-round"
          ></agari-schedule-round>
        </div>
        <div class="agari-horizontal-filler"></div>
        <div class="agari-horizontal-filler"></div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
