@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,900&display=swap&subset=japanese');

$agari-typography: mat-typography-config(
  $font-family: '"Noto Serif JP", serif'
);

$agari-primary: mat-palette($mat-indigo);
$agari-accent: mat-palette($mat-pink, A200, A100, A400);
$agari-warn: mat-palette($mat-orange);
$agari-theme: mat-light-theme($agari-primary, $agari-accent, $agari-warn);

@include mat-core($agari-typography);
@include angular-material-theme($agari-theme);

$break-xs: 320px;
$break-sm: 600px;
$break-md: 880px;

@import './app/scss/size.scss';

.agari-flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.agari-spacer {
  flex: 1 1 auto;
}

.agari-table {
  margin: auto;
}

.agari-cell-numeric {
  text-align: right !important;
  padding-right: 4px !important;

  &.agari-cell-right-gap {
    padding-right: 24px !important;
  }
}

.agari-cell-text {
  padding-right: 4px !important;
}

.agari-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  padding-right: 4px;

  &:last-child {
    padding-right: 0;
  }
}

.mat-action-row {
  border-top-style: none !important;
}
