@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,900&display=swap&subset=japanese');

$agari-typography: mat.define-typography-config(
  $font-family: '"Noto Serif JP", serif'
);

$agari-primary: mat.define-palette(mat.$indigo-palette);
$agari-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$agari-warn: mat.define-palette(mat.$orange-palette);
$agari-theme: mat.define-light-theme($agari-primary, $agari-accent, $agari-warn);

@include mat.core($agari-typography);
@include mat.all-component-themes($agari-theme);

$break-xs: 320px;
$break-sm: 600px;
$break-md: 880px;

@import './app/scss/size.scss';

.agari-flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.agari-spacer {
  flex: 1 1 auto;
}

.agari-table {
  margin: auto;
}

.agari-cell-numeric {
  text-align: right !important;
  padding-right: 4px !important;

  &.agari-cell-right-gap {
    padding-right: 24px !important;
  }
}

.agari-cell-text {
  padding-right: 4px !important;
}

.agari-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  padding-right: 4px;

  &:last-child {
    padding-right: 0;
  }
}

.mat-action-row {
  border-top-style: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: mat.get-color-from-palette($agari-primary, 200);
}

::-webkit-scrollbar-thumb {
  background-color: mat.get-color-from-palette($agari-primary, 600);
  border-radius: 3px;

  &:hover {
    background-color: mat.get-color-from-palette($agari-primary, 700);
  }
}
